<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
</head>
<body>
    <div class="container">
        <p>Qual sala de chat você gostaria de entrar?</p><br>
        <input type="text" name="nome_sala" id="nome_sala" size="100" placeholder="Nome da sala"><br>
        <input type="button" id="botao" class="btn btn-primary" value="Entrar">
    </div>
    <script>
        document.querySelector('#nome_sala').focus();
        document.querySelector('#nome_sala').onkeyup = function(e){
            if (e.keyCode === 13) {
                document.querySelector('#botao').click();
            }
        };

        document.querySelector('#botao').onclick = function(e) {    
            var nome_sala = document.querySelector('#nome_sala').value;
            if (nome_sala != "") {
                window.location.pathname = '/chat/' + nome_sala + '/';
        
            }else {
                alert('Você precisa informar o nome da sala.');
                document.querySelector('#nome_sala').focus()
            }
        };
    </script>
</body>
</html>